@import "colors.scss";
@import "responsive/480px.scss";
@import "responsive/768px.scss";
header {
    height: 100px;
    width: 100%;
    background: $navbar;
    display: grid;
    grid-template-columns: 1fr auto minmax(700px, 3fr);
    .logo {
        height: 80px;
        width: 80px;
    }
    .toggler {
        display: none;
    }
    .burger {
        display: none;
    }
    .nav {
        display: flex;
        grid-column: 3/4;
        justify-content: flex-end;
        align-items: center;
        ul {
            list-style: none;
            display: flex;
            position: fixed;
            padding: 16px;
            li {
                margin-bottom: 0px;
                margin-right: 16px;
                a {
                    color: $text;
                    text-decoration: none;
                }
                a:hover {
                    color: $hover;
                    transition: ease-in .1s;
                }
            }
        }
    }
}