@import "colors.scss";
@import "responsive/480px.scss";
@import "responsive/768px.scss";
header {
    //border-bottom: 1px solid $text;
    height: 70px;
    line-height: 70px;
    // .logo {
    //     width: 100px;
    //     height: 100px;
    // }
    .nav {
        float: right;
        text-align: right;
        margin: 0;
        a {
            text-decoration: none;
            color: $text;
            margin: 0 10px;
            list-style: height 70px;
        }
    }
    label {
        margin: 0 40px 0 0;
        font-size: 26px;
        list-style: height 70px;
        display: none;
    }
    #toggler {
        display: none;
    }
}