<header>
    <img class="logo" src="assets/Images/logo.svg" alt="" srcset="">
    <input type="checkbox" id="toggler" class="toggler">
    <label for="toggler" class="burger">
        <span>
            <i class="fas fa-bars"></i>
        </span>
    </label>

    <nav class="nav">
        <ul>

            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="/about">About</a>
            </li>
            <li>
                <a routerLink="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>