<div id="carousel">

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="assets/Images/Slides/1.jpg" class="img-slide" alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img class="img-slide" src="assets/Images/Slides/2.jpg" alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img class="img-slide" src="assets/Images/Slides/3.jpg" alt="">
        </ng-template>
        <ng-template carouselSlide><img class="img-slide" src="assets/Images/Slides/4.jpg" alt="">
        </ng-template>
        <ng-template carouselSlide>
            <img class="img-slide" src="assets/Images/Slides/5.jpg" alt="">
        </ng-template>
    </owl-carousel-o>
</div>
<iframe src="www.facebook.com"></iframe>

<h1>DR.Siva Rama Prasad</h1>
<p class="content">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
    software like Aldus PageMaker including versions of Lorem Ipsum
</p>
<div class="row cards">
    <div class="col-3">

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Some one Word
                </p>
            </mat-card-content>

        </mat-card>

    </div>
    <div class="col-3">

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    some one line of text
                </p>
            </mat-card-content>

        </mat-card>

    </div>
    <div class="col-3">

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    can be any text of one word or one line
                </p>
            </mat-card-content>

        </mat-card>

    </div>
    <div class="col-3">

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    like differnt types of treatments
                </p>
            </mat-card-content>

        </mat-card>

    </div>
</div>