@import "colors.scss";
.row {
    margin-top: 10px;
    height: 700px;
}

.img-rounded {
    height: 700px;
    max-width: 100%;
    border-radius: 0px 15px 15px 0px;
    //for circlur view
    //border-radius: 1000px;
}

.content {
    text-align: center;
    color: $text;
}

h1 {
    text-align: center;
    margin-top: 30vh;
    font-weight: bold;
    color: $dark;
}

.example-card {
    margin-top: 30px;
    max-width: 400px;
}