<div class="row">
    <div class="col-8" id="carousel">

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="assets/1.jpg" class="img-rounded" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img-rounded" src="assets/2.jpg" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img-rounded" src="assets/3.jpg" alt="">
            </ng-template>
            <ng-template carouselSlide><img class="img-rounded" src="assets/4.jpg" alt="">
            </ng-template>
            <ng-template carouselSlide>
                <img class="img-rounded" src="assets/5.jpg" alt="">
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="col-4">
        <h1>DR.Siva Rama Prasad</h1>
        <p class="content">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>

    </div>

</div>
<div class="row">
    <div class="col-3">

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </mat-card-content>

        </mat-card>

    </div>
    <div class="col-3">

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </mat-card-content>

        </mat-card>

    </div>
    <div class="col-3">

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </mat-card-content>

        </mat-card>

    </div>
    <div class="col-3">

        <mat-card class="example-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </mat-card-content>

        </mat-card>

    </div>
</div>